<html>
<%= render :partial => "titulo" %>
		<%= error_messages_for :restaurante %>
	<body>

		<% form_for :r, :url => {:action=>"create"} do |f| %>
			<%= f.text_field :nome , :size => 100 %>
			<%= f.text_field :endereco , :size => 100 %>
			<%= f.text_field :especialidade , :size => 100 %>	
				
			<%= submit_tag "Gravar" %>

		<% end %>

	</body>
</html>

