<h1>New qualificacao</h1>

<% form_for(@qualificacao) do |f| %>
  <%= f.error_messages %>

  <p>
  <% if @qualificacao.cliente %>
  	 	<%= f.hidden_field 'cliente_id' %>
  <% else %>
    <%= f.label :cliente_id %><br />
    <%= f.collection_select(:cliente_id,Cliente.find(:all,:order => :nome), :id, :nome, {:prompt => true}) %>
  <% end %>
  </p>
  <p>
  	<% if @qualificacao.restaurante %>
  		<%= f.hidden_field 'restaurante_id' %>
  	<% else %>
    <%= f.label :restaurante_id %><br />
    <%= f.text_field :restaurante_id %>
   <% end %>
  </p>
  <p>
    <%= f.label :nota %><br />
    <%= f.text_field :nota %>
  </p>
  <p>
    <%= f.label :valor_gasto %><br />
    <%= f.text_field :valor_gasto %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', qualificacoes_path %>
